.form-box {
    width: 360px;
    height: 360px;
    margin: 90px auto 0 auto;
    border-color: black;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    background-color: #3d9970;
}
.text-warning {
    color: red !important
}
.login-textBox {
    width: 300px;
    margin-top: 20px;
    margin-left: 30px
}

body {
    background: black;
    
}

.box-header {
    height: 70px;
    background-color: #3d9970;
    text-align: center;
    margin-top: -25px;
}

    .box-header p {
        font-size: 25px;
        font-family: Tahoma;
        margin-top: 40px;
        color: white;
    }

.box-body {
    height: 220px;
    padding-top: 20px;
    background-color: #f9f9f9;
}
.box-footer p {
    color: white;
}

.btnLogin {
    margin-top: 20px;
    width: 290px !important;
    background-color: #3d9970;
    color: white;
}
a {
    text-decoration: none!important;
}
/*
    menu index*/
