
ul.news {
    background: #FAFAFA no-repeat right 10px;
    overflow: hidden;
    width: 325px !important;
    padding: 10px;
    list-style: none;
    margin: 0;
}

    ul.news li {
        margin-bottom: 15px;
        background-image: url(/Skin/Images/hotjobsiconpng.png);
        background-position: 0px;
        background-position-x: 0px;
        background-position-y: 2px;
        background-repeat: no-repeat;
        background-size: 15%;
    }

        ul.news li h4 {
            margin: 0 0 5px 0;
            font-weight: bold;
        }

            ul.news li h4 a {
                font-size: 15px;
                font-weight: 700;
                padding-left: 50px;
            }

        ul.news li p {
            margin: 0;
            line-height: 1.5;
        }

            ul.news li p.time {
                color: #0896ff;
                padding-left: 50px;
            }

            ul.news li p.name {
                color: #111;
                font-size: 13px;
            }

ul.tags {
    width: 385px;
    padding: 10px;
    list-style: none;
    margin: 0;
}

    ul.tags li {
        margin-bottom: 10px;
        float: left;
        width: 150px;
    }

        ul.tags li:first-child {
            width: 100%;
        }

        ul.tags li a {
            color: #7f7f7f;
            text-decoration: underline;
        }
