#menu{position:relative;height:37px;}
#menu:after {
	border-bottom:1px solid #e8e8e8;
    content: "";
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%;
    z-index: 0;
}

#menu ul{list-style:none;margin:0;padding:0;z-index:1;position:absolute;}

#menu .navbar-nav > li > a{color:#111;padding-bottom:6px;padding-top:10px;}
#menu .navbar-nav > li:first-child > a{padding-left:0;}
#menu .nav .caret{border-bottom-color:#cecece;border-top-color:#cecece;}
#menu .navbar-nav > li > a:hover, #menu .navbar-nav > li > a:focus{background:none;}