


.peKenBurns {
		width: 100%;
		height: 647px;
	}
.peKenBurns { position: relative; overflow: hidden; }
.peKenBurns > div { display: none; }
.peKenBurns > div.peKb_active { overflow: hidden; width: inherit; height: inherit; display: block; }
.peKenBurns > div > h1 { display: none; }
.peKenBurns > div.peKb_active > h1 { display: block; }
.peKenBurns a:focus { outline: 0; }
.peKenBurns img { border: none; }
.peKenBurns .peKb_noBack { background: transparent !important; }
.peKenBurns ul, .peKenBurns li { margin: 0; padding: 0; border: 0; outline: 0; }
.peKenBurns .peKb_slides { display: block; position: relative; overflow: hidden;  }
.peKenBurns .peKb_slides > div { position: absolute; overflow: hidden; display: none; z-index: 1; }
.peKenBurns .peKb_slides div.peKb_active { z-index: 2; display: block; }
.peKenBurns .peKb_slides .peKb_caption { display: inline; position: absolute; left: 0; top: 0; z-index: 200; margin: 0 5px 400px 5px; }
.peKenBurns .peKb_slides .peKb_caption .peKb_holder { position: absolute; }
.peKenBurns .peKb_slides .peKb_caption .peKb_real { padding: 10px 20px; overflow: hidden; position: absolute; z-index: 10; }
.peKenBurns .peKb_slides .peKb_caption .peKb_real h1 { margin: 0; white-space: nowrap; }
.peKenBurns .peKb_slides .peKb_caption .peKb_background { display: block; position: absolute; z-index: 9; }
.peKenBurns .peKb_slides .peKb_frame { z-index: 0; width: 100%; height: 100%; display: block; }
.peKenBurns .peKb_slides .peKb_spinner { z-index: 201; width: 100%; height: 100%; display: block; }
.peKenBurns .peKb_slides .peKb_videooverlay { z-index: 202; width: 100%; height: 100%; cursor: pointer; display: block; }
.peKenBurns .peKb_controls { display: none; position: relative; height: 50px; overflow: hidden; margin-top: -16px; }
.peKenBurns .peKb_controls .peKb_holder { height: 50px; position: relative; overflow: hidden; margin-top: -6px; }
.peKenBurns .peKb_controls .peKb_mainPanel { position: relative; overflow: hidden; height: 50px; float: left; }
.peKenBurns .peKb_controls .peKb_slideBtns { margin-top: 15px; margin-bottom: 15px; padding-left: 15px; padding-right: 15px; list-style-type: none; text-align: center; height: 23px; float: left; position: relative; }
.peKenBurns .peKb_controls .peKb_slideBtns li { float: left; display: block; margin: 0; height: 23px; text-indent: -9999px; }
.peKenBurns .peKb_controls .peKb_slideBtns li a { display: block; width: 22px; height: 23px; line-height: 23px; margin: 0; overflow: hidden; outline: 0; }
.peKenBurns .peKb_controls .peKb_arrows { float: left; margin-top: 15px; margin-bottom: 15px; padding-left: 8px; padding-right: 8px; line-height: 23px; width: 76px; text-indent: -9999px; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev, .peKb_controls .peKb_arrows .peKb_next { height: 23px; width: 22px; display: block; float: left; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev { padding-left: 10px; padding-right: 5px; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_next { padding-left: 5px; padding-right: 10px; }
.peKenBurns .peKb_timer { z-index: 210; position: absolute; display: none; width: 22px; height: 24px; }
.peKenBurns .peKb_timer .peKb_overlay { width: 22px; height: 24px; position: absolute; z-index: 1; }
.peKenBurns .peKb_timer .peKb_sprite { margin-top: 1px; position: absolute; width: 22px; height: 22px; z-index: 0; }
.peKenBurns .peKb_videoClose { display: block; height: 50px; width: 46px; float: left; position: relative; margin-left: 2px; text-indent: -9999px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.peKenBurns .peKb_videoClose a { height: 45px; width: 45px; display: block; }
.peKenBurns .peKb_logoLabel { display: block; width: 58px; height: 46px; position: absolute; overflow: hidden; top: 8%; left: -38px; text-indent: -9999px; }
.peKenBurns .peKb_logoLabel a { display: block; width: 50px; height: 46px; }
.peKenBurns .peKb_shadow { display: block; height: 82px; position: absolute; bottom: 10px; z-index: -1; }
.peKenBurns .peKb_shadow .peKb_left { clear: both; }
.peKenBurns .peKb_shadow .peKb_left, .peKenBurns .peKb_shadow .peKb_right { float: left; width: 100px; height: 82px; }
.peKenBurns .peKb_shadow .peKb_middle { float: left; height: 82px; }
.ie7 .peKenBurns .peKb_controls .peKb_arrows .peKb_next { padding-right: 8px; }
.ie7 .peKenBurns .peKb_controls .peKb_slideBtns { padding-left: 5px; }
.ie7 .peKenBurns .peKb_controls .peKb_arrows { padding-right: 0; }
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel div.peKb_iebg { overflow: hidden; margin-left: 10px; margin-right: 10px; height: 51px; }
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel span.peKb_iebgRight { position: absolute; bottom: 0; right: 0; width: 10px; height: 51px; }
.ie7 .peKenBurns .peKb_noBack { background-color: black !important; filter: alpha(opacity=0) !important; }
.ie8 .peKenBurns .peKb_controls .peKb_arrows .peKb_next { padding-right: 8px; }
.ie8 .peKenBurns .peKb_controls .peKb_slideBtns { padding-left: 5px; }
.ie8 .peKenBurns .peKb_controls .peKb_arrows { padding-right: 0; }
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel div.peKb_iebg { overflow: hidden; margin-left: 10px; margin-right: 10px; height: 51px; }
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel span.peKb_iebgRight { position: absolute; bottom: 0; right: 0; width: 10px; height: 51px; }
.ie8 .peKenBurns .peKb_noBack { background-color: black !important; filter: alpha(opacity=0) !important; }
.ie9 .peKenBurns .peKb_noBack { background-color: black !important; opacity: 0 !important; }
.peKenBurns .peKb_Thumb { position: absolute; z-index: 212; width: 98px; height: 76px; overflow: hidden; }
.peKenBurns .peKb_Thumb div { width: 84px; height: 48px; margin: 7px 0 0 7px; overflow: hidden; }
.peKenBurns .peKb_controlsInner { z-index: 209; }
.peKenBurns .peKb_controlsInner .peKb_holder { height: 40px; margin: 0 15px 0 15px; }
.peKenBurns .peKb_controlsInner .peKb_slideBtns { margin-top: 8px; }
.peKenBurns .peKb_controlsInner .peKb_arrows { margin-top: 8px; }
.peKenBurns .peKb_videoCloseInner { background: transparent !important; padding-top: 20px !important; padding-left: 10px !important; }
.peKenBurns .peKb_videoCloseInner a { width: 32px !important; height: 32px !important; }
.peKenBurns .peKb_slides { background-color: #000;  }
.peKenBurns .peKb_slides .peKb_frame { background-color: #000; }
.peKenBurns .peKb_slides .peKb_spinner { background: url("../images/spinner.gif") no-repeat center center; }
.peKenBurns .peKb_slides .peKb_videooverlay { background: url("../images/video.png") no-repeat center center; }
.peKenBurns .peKb_slides .peKb_caption h1 { text-transform:uppercase; color: #FFF; font-size: 18px; font-weight: bold; font-family: 'Roboto' ; line-height: 24px; text-align: left; }
.peKenBurns .peKb_slides .peKb_caption .peKb_background { background: #0B9FA8; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.peKenBurns .peKb_controls .peKb_mainPanel { background: url("../images/controls_bg.png") repeat-x; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.peKenBurns .peKb_controls .peKb_slideBtns { border-right: 1px solid #ccc; }
.peKenBurns .peKb_controls .peKb_slideBtns li a { background: url("../images/buttons.png") no-repeat; }
.peKenBurns .peKb_controls .peKb_slideBtns a:hover { background-position: 0 -23px; }
.peKenBurns .peKb_controls .peKb_slideBtns .peKb_currentSlide { background-position: 0 -46px; cursor: default; }
.peKenBurns .peKb_controls .peKb_slideBtns .peKb_currentSlide:hover { background-position: 0 -46px; }
.peKenBurns .peKb_controls .peKb_arrows { border-left: 1px solid #fff; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev { background: url("../images/buttons.png") no-repeat 10px -70px; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_next { background: url("../images/buttons.png") no-repeat 10px -93px; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev:hover { background-position: -35px -70px; }
.peKenBurns .peKb_controls .peKb_arrows .peKb_next:hover { background-position: -34px -93px; }
.peKenBurns .peKb_timer { color: #05a0fa;display: none!important;}
.peKenBurns .peKb_timer .peKb_overlay { background: url("../images/buttons.png") no-repeat -45px -46px; }
.peKenBurns .peKb_timer .peKb_sprite { background: url("../images/time_sprite.png") no-repeat 0 0; }
.peKenBurns .peKb_videoClose { background: url("../images/close_video_bg.png") repeat-x; }
.peKenBurns .peKb_videoClose a { background: url("../images/buttons.png") no-repeat 12px -122px; }
.peKenBurns .peKb_videoClose a:hover { background-position: -32px -122px; }
.peKenBurns .peKb_logoLabel { background: url("../images/logo_bg_ie.png") no-repeat; }
.peKenBurns .peKb_logoLabel a { background: url("../images/logo.png") repeat-y; }
.peKenBurns .peKb_shadow .peKb_left { background: url("../images/shad_lhs.png") no-repeat; }
.peKenBurns .peKb_shadow .peKb_middle { background: url("../images/shad_tile.png") repeat-x; }
.peKenBurns .peKb_shadow .peKb_right { background: url("../images/shad_rhs.png") no-repeat; }
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel { background: url("../images/controls_bg_left.png") no-repeat 0 7px; }
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel div.peKb_iebg { background: url("../images/controls_bg_ie.png") repeat-x 0 7px; }
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel span.peKb_iebgRight { background: url("../images/controls_bg_right.png") no-repeat 0 8px; }
.ie7 .peKenBurns .peKb_videoClose { background: url("../images/close_video_bg_ie.png") no-repeat 0 7px; }
.ie7 .peKenBurns .peKb_logoLabel { background: url("../images/logo_bg_ie.png") no-repeat; }
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel { background: url("../images/controls_bg_left.png") no-repeat 0 7px; }
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel div.peKb_iebg { background: url("../images/controls_bg_ie.png") repeat-x 0 7px; }
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel span.peKb_iebgRight { background: url("../images/controls_bg_right.png") no-repeat 0 8px; }
.ie8 .peKenBurns .peKb_videoClose { background: url("../images/close_video_bg_ie.png") no-repeat 0 7px; }
.ie8 .peKenBurns .peKb_logoLabel { background: url("../images/logo_bg_ie.png") no-repeat; }
.peKenBurns .peKb_Thumb { background: url("../images/thumb_bg.png") no-repeat center center; }
.peKenBurns .peKb_Thumb div { background: url("../images/spinner.gif") no-repeat center center; }
.peKenBurns .peKb_controlsInner .peKb_mainPanel { background: transparent; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.peKenBurns .peKb_controlsInner .peKb_holder { background: url("../images/controls_bg.png") -0px -10px repeat-x; }
.peKenBurns .peKb_controlsInner div.peKb_iebg, .peKenBurns .peKb_controlsInner span.peKb_iebgRight, .peKenBurns .peKb_controlsInner .peKb_mainPanel { background: transparent !important; }
.peKenBurns .peKb_videoCloseInner a { background: url("../images/inner_vid_close.png") no-repeat 0 0 !important; }
.peKenBurns .peKb_videoCloseInner a:hover { background-position: -44px 0 !important; }



.slide-footer .mvc_main {float:left; font-size:11px; font-family: Tahoma; padding-top:10px;padding-left:10px;width:120px;}
.footer .mvc_main {float:left; font-size:11px; font-family: Tahoma; padding-top:10px;padding-left:10px;width:120px;}
.mvc_main td {padding-bottom:3px;}

/*!
Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v1.1.3 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
