body {
    overflow-x: hidden !important;
    font-family: Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: #f9f9f9;
}
.box-warning.box-header.box-title{    }
.special {
    font-weight: bold;
    color: darkgrey;
}

a {
    color: #3c8dbc;
}

    a:hover,
    a:active,
    a:focus {
        outline: none;
        text-decoration: none;
        color: #72afd2;
    }
/* Header */
body .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

body .header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    background-color: #3c8dbc;
}

    body .header .second-menu {
        display: none;
    }

body ul li:hover > .second-menu {
    display: block;
}

body ul li.dropdown {
    /*height: 300px !important;*/
}

body .header .navbar {
    height: 50px;
    margin-bottom: 0;
    margin-left: 220px;
}

    body .header .navbar .sidebar-toggle {
        float: left;
        padding: 9px 5px;
        margin-top: 8px;
        margin-right: 0;
        margin-bottom: 8px;
        margin-left: 5px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

        body .header .navbar .sidebar-toggle:hover .icon-bar {
            background: #f6f6f6;
        }

        body .header .navbar .sidebar-toggle .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

            body .header .navbar .sidebar-toggle .icon-bar + .icon-bar {
                margin-top: 4px;
            }

body .header a, body.header label, body .header p {
    color: white;
}

body .header .navbar .nav > li.user > a {
    font-weight: bold;
}

    body .header .navbar .nav > li.user > a > .fa,
    body .header .navbar .nav > li.user > a > .glyphicon,
    body .header .navbar .nav > li.user > a > .ion {
        margin-right: 5px;
    }

body .header .navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 2px;
    font-size: 10px;
    font-weight: normal;
    width: 15px;
    height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

body .header .navbar .nav > li > a:hover > .label {
    top: 3px;
}

body .header .navbar .nav > li a:hover {
    background-color: #005888 !important;
}

body .header .navbar-right .nav li.dropdown .second-menu li a:hover {
    background-color: blue !important;
}

body .header .navbar .navbar-left .nav > li > a {
    padding-left: 10px;
}
 .header .navbar .navbar-left .nav > li{background-image: url('/Images/line.gif');
    background-position: top right;}
body .header .logo {
    float: left;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    width: 220px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    height: 50px;
    display: block;
    background-color: #005ead;
}
    /*body .header .navbar ul.nav >li >ul >li a.link :hover{background-color:red !important}*/
    body .header .logo .icon {
        margin-right: 10px;
    }

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}

.navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

    .navbar-nav > .user-menu > .dropdown-menu:after {
        bottom: 100%;
        right: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 175px;
        padding: 10px;
        background: #3c8dbc;
        text-align: center;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
            z-index: 5;
            height: 90px;
            width: 90px;
            border: 8px solid;
            border-color: transparent;
            border-color: rgba(255, 255, 255, 0.2);
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
            z-index: 5;
            color: #f9f9f9;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            text-shadow: 2px 2px 3px #333333;
            margin-top: 10px;
        }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
                display: block;
                font-size: 12px;
            }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body {
        padding: 8px;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #dddddd;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body div > a {
            color: #0073b7;
        }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
        background-color: #f9f9f9;
        padding: 10px;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
            color: #666666;
        }
/* Add fade animation to dropdown menus */


.apps-icon ul li .fa {
    color: #F1F1F1;
}

a {
    text-decoration: none !important;
}
/*end footer*/
.dropdown-menu {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
}

    .dropdown-menu > li > a > .glyphicon,
    .dropdown-menu > li > a > .fa,
    .dropdown-menu > li > a > .ion {
        margin-right: 10px;
    }

    .dropdown-menu > li > a:hover {
        background-color: #3c8dbc;
        color: #f9f9f9;
    }

     .verticalscroll {
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #2d80e8;
        width: 350px;
        height: 150px;
    }
/*Drodown in navbars*/
.skin-blue .navbar .dropdown-menu > li > a {
    color: #444444;
}
/*
    Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
    width: 280px;
    padding: 0 0 0 0 !important;
    margin: 0 !important;
    top: 100%;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

    .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
    .navbar-nav > .messages-menu > .dropdown-menu > li.header,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #ffffff;
        padding: 7px 10px;
        border-bottom: 1px solid #f4f4f4;
        color: #444444;
        font-size: 14px;
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .messages-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after {
            bottom: 100%;
            left: 92%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 7px;
            margin-left: -7px;
        }

    .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 12px;
        background-color: #f4f4f4;
        padding: 7px 10px;
        border-bottom: 1px solid #eeeeee;
        color: #444444;
        text-align: center;
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
        .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
            background: #f4f4f4;
            text-decoration: none;
            font-weight: normal;
        }

    .navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
    .navbar-nav > .messages-menu > .dropdown-menu > li .menu,
    .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-x: hidden;
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
        .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
        .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
            display: block;
            white-space: nowrap;
            /* Prevent text from breaking */
            border-bottom: 1px solid #f4f4f4;
        }

            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
            .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
                background: #f6f6f6;
                text-decoration: none;
            }

        .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
            font-size: 12px;
            color: #444444;
        }

            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
                font-size: 20px;
                width: 50px;
                text-align: center;
                padding: 15px 0px;
                margin-right: 5px;
                /* Default background and font colors */
                background: #00c0ef;
                color: #f9f9f9;
                /* Fallback for browsers that doesn't support rgba */
                color: rgba(255, 255, 255, 0.7);
            }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
                    background: #f56954;
                }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
                    background: #f39c12;
                }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
                    background: #00a65a;
                }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
                    background: #00c0ef;
                }

        .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
            margin: 0px;
            line-height: 20px;
            padding: 10px 5px 10px 5px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
                margin: auto 10px auto auto;
                width: 40px;
                height: 40px;
                border: 1px solid #dddddd;
            }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
                padding: 0;
                margin: 0 0 0 45px;
                color: #444444;
                font-size: 15px;
            }

                .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
                    color: #999999;
                    font-size: 10px;
                    float: right;
                }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
                margin: 0 0 0 45px;
                font-size: 12px;
                color: #888888;
            }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
                display: table;
                content: " ";
            }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
                clear: both;
            }

        .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
            padding: 10px;
        }

            .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
                font-size: 14px;
                padding: 0;
                margin: 0 0 10px 0;
                color: #666666;
            }

            .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
                padding: 0;
                margin: 0;
            }

.navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

    .navbar-nav > .user-menu > .dropdown-menu:after {
        bottom: 100%;
        right: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 175px;
        padding: 10px;
        background: #3c8dbc;
        text-align: center;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
            z-index: 5;
            height: 90px;
            width: 90px;
            border: 8px solid;
            border-color: transparent;
            border-color: rgba(255, 255, 255, 0.2);
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
            z-index: 5;
            color: #f9f9f9;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            text-shadow: 2px 2px 3px #333333;
            margin-top: 10px;
        }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
                display: block;
                font-size: 12px;
            }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body {
        padding: 8px;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #dddddd;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body div > a {
            color: #0073b7;
        }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
        background-color: #f9f9f9;
        padding: 10px;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
            color: #666666;
        }
/* Add fade animation to dropdown menus */
.open > .dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}
/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu,
    .navbar-nav > .user-menu > .dropdown-menu,
    .navbar-nav > .tasks-menu > .dropdown-menu,
    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        background: #ffffff;
    }
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.header,
    .navbar-nav > .messages-menu > .dropdown-menu > li.header {
        /* Remove arrow from the top */
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .messages-menu > .dropdown-menu > li.header:after {
            border-width: 0px !important;
        }

    .navbar-nav > .tasks-menu > .dropdown-menu {
        position: absolute;
        right: -120px;
        left: auto;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu {
        position: absolute;
        right: -170px;
        left: auto;
    }

    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        right: -210px;
        left: auto;
    }
}
.bt-center {
    margin-left: 444px
}