.full-section{width: 100% !important
}
.menu{
    background: #3c8dbc;
    width: 100% !important;
    
}
@media(max-width: 768px){
  .menu{
  background: #3c8dbc;
}
.mxh-top{
	background:#3c8dbc;
}
}

.menu .navbar-default{
  background: none;
  border:none;
  min-height: 40px;
  margin-bottom: 0px;
}
@media(min-width: 768px){
  .menu .navbar-brand{
  height: 40px;
  padding: 8px 15px;
  color: #FFF;
}
}
.menu .navbar-brand{
  color: #FFF;
}
.menu .navbar-nav  li a{
  color: #FFF !important;
  padding: 10px 10px;
  text-transform: capitalize !important;	
}
.menu .navbar-nav  li a:hover{
	color: #ffffff !important;
    background: #2E5267;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a:focus {
  color: #ffffff !important;
  font-weight: bold;
  background: #2E5267 !important;
}

.mxh-top{
  margin-top: 10px; 
}
.mxh-top li a{
	color: #FFF;
}
nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}